@import "./base.css";
@import url("https://fonts.cdnfonts.com/css/eingrantch-mono");

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

body {
  font-family: 'Eingrantch Mono', sans-serif;
  color: white;
}

.thumbnail-nav {
  max-width: 50px;
  width: 50px;
  height: 50px;
}

.readable-blur {
  background-color: rgba(0, 0, 0, 0.685);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);
}
